{% include "adminheader.html" %}

	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						<div class="post">
							<h2 class="title"><a href="#">Welcome  Administrator ! </a></h2>
						</div>
						<div style="clear: both;">&nbsp;</div>
					</div>
					<!-- end #content -->
					{% include "sidebaradmin.html" %}
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Design by <a href="http://www.freecsstemplates.org/">Saloni Machewar</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
